* {
    box-sizing: border-box;
    text-align: center;
  }
  
  
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }

  nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }

  footer {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }