* {
    box-sizing: border-box;
    text-align: center;
  }
  
  
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }

  nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }

  #section {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    float: left;
    width: 60%;
    height: 250px;
    border-right: 10px solid white;
  }

  #aside {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    float: left;
    width: 40%;
    height: 250px;
    border-left: 10px solid white;  
  }
  
footer {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    clear: both;
  }

  .container {
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
  }